<manifest package="com.leapover.plugin.qrcode.qrcodeplugin"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
      <activity android:name="com.leapover.plugin.qrcode.PortraitActivity"
          android:screenOrientation="fullSensor"/>
    </application>
</manifest>
  